-
  var appName = 'kibana';

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Kibana
    style.
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.svg#OpenSans') format('svg');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.svg#OpenSans') format('svg');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.svg#OpenSans') format('svg');
      }

    //- Favicons (generated from http://realfavicongenerator.net/)
    link(
      rel='apple-touch-icon' sizes='180x180' href='#{kibanaPayload.basePath}/ui/favicons/apple-touch-icon.png'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/sonar-32x32.png' sizes='32x32'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/sonar-16x16.png' sizes='16x16'
    )
    link(
      rel='manifest' href='#{kibanaPayload.basePath}/ui/favicons/manifest.json'
    )
    link(
      rel='mask-icon' href='#{kibanaPayload.basePath}/ui/favicons/safari-pinned-tab.svg' color='#e8488b'
    )
    link(
      rel='shortcut icon' href='#{kibanaPayload.basePath}/ui/favicons/sonar.ico'
    )
    meta(
      name='msapplication-config' content='#{kibanaPayload.basePath}/ui/favicons/browserconfig.xml'
    )
    meta(
      name='theme-color' content='#ffffff'
    )

    style.
      .kibanaWelcomeView {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #FFFFFF;
      }

      .kibanaWelcomeLogo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        /* SVG optimized according to http://codepen.io/tigt/post/optimizing-svgs-in-data-uris */
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154.03 200.11'%3E%3Ctitle%3ELogo-KibanaIcon%3C/title%3E%3Cpath opacity='0.7' fill='%23fff' d='M479.29,273.54L557,179.94H403v75c1,0,1.92-.07,2.89-0.07A152.78,152.78,0,0,1,479.29,273.54Z' transform='translate(-402.99 -179.94)'/%3E%3Cpolygon opacity='0.7' fill='%23fff' points='0 185.5 0 185.5 76.31 93.6 0 185.5'/%3E%3Cpath opacity='0.7' fill='%23fff' d='M499.17,286.52l2.14,1.66C500.61,287.62,499.89,287.07,499.17,286.52Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath opacity='0.7' fill='%23fff' d='M493.27,282.19l1.22,0.87Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath opacity='0.7' fill='%23fff' d='M504.4,290.74l-74,89.32H556.81A153.4,153.4,0,0,0,504.4,290.74Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath opacity='0.5' fill='%23fff' d='M492.54,281.67c-5.34-3.8-13.25-8.13-13.25-8.13a153.77,153.77,0,0,1,14,8.64Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath opacity='0.5' fill='%23fff' d='M504.43,290.7s-1.16-1-3.11-2.51c1,0.83,2.06,1.69,3.08,2.55Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath opacity='0.5' fill='%23fff' d='M494.49,283.06c1.59,1.12,3.15,2.29,4.69,3.47C497.81,285.49,496.23,284.31,494.49,283.06Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath opacity='0.5' fill='%23fff' d='M501.32,288.19l-2.14-1.66c-1.54-1.18-3.1-2.34-4.69-3.47l-1.22-.87a153.77,153.77,0,0,0-14-8.64L403,365.44v14.62h27.39l74-89.32C503.38,289.88,502.36,289,501.32,288.19Z' transform='translate(-402.99 -179.94)'/%3E%3Cpath fill='%23fff' d='M405.87,254.85c-1,0-1.92.06-2.89,0.07V365.44l76.31-91.9A152.78,152.78,0,0,0,405.87,254.85Z' transform='translate(-402.99 -179.94)'/%3E%3C/svg%3E"); */
        background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20429.51%20159.16%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2356698f%3B%7D.cls-2%2C.cls-4%2C.cls-5%2C.cls-6%2C.cls-7%7Bfill%3A%23fff%3B%7D.cls-10%2C.cls-2%2C.cls-4%2C.cls-5%2C.cls-6%2C.cls-7%2C.cls-8%2C.cls-9%7Bstroke%3A%2356698f%3Bstroke-miterlimit%3A10%3B%7D.cls-2%7Bstroke-width%3A4px%3B%7D.cls-3%7Bfill%3A%23001d43%3B%7D.cls-10%2C.cls-4%7Bstroke-width%3A1.9px%3B%7D.cls-5%7Bstroke-width%3A2.52px%3B%7D.cls-6%7Bstroke-width%3A1.28px%3B%7D.cls-7%2C.cls-8%7Bstroke-width%3A1px%3B%7D.cls-10%2C.cls-8%2C.cls-9%7Bfill%3Anone%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3ESonarK_Logo_FINAL%20(white%20background)%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M407.11%2C104.07c0%2C1.28-1.23%2C2.7-.41%2C3.67.69.82%2C2.24.93%2C3.42%2C1.34l25.36%2C8.84c.75.26%2C1.3.52%2C2-.39a6%2C6%2C0%2C0%2C1%2C8.85-1.08c2.74%2C2.34%2C2.84%2C6.24.24%2C9l-10.21-4.26c.2-1.06-.21-1.58-1.27-1.92-3.43-1.1-6.82-2.36-10.24-3.5-1.16-.39-2.24-1.12-3.55-.92l-13-5.36c-2.49-1-2.48-1-3.37%2C1.56a.63.63%2C0%2C0%2C0%2C0%2C.17%2C5.45%2C5.45%2C0%2C0%2C0-1%2C1.86l-2.48%2C3.43a33.7%2C33.7%2C0%2C0%2C1-5.11%2C4.23c-1%2C.61-.25%2C1.16%2C0%2C1.67%2C4.08%2C7.29%2C8.19%2C14.56%2C12.25%2C21.86.75%2C1.35%2C1.34%2C2.46%2C3.29%2C2.53s3.24%2C2.44%2C2.62%2C4.52a3.61%2C3.61%2C0%2C0%2C1-4.67%2C2.26%2C3.46%2C3.46%2C0%2C0%2C1-1.92-4.9%2C2.44%2C2.44%2C0%2C0%2C0-.13-2.87q-6.4-11.27-12.7-22.58c-.54-1-.91-1.25-2-.72a51.13%2C51.13%2C0%2C0%2C1-5.11%2C1.82l-1.47.15a24.12%2C24.12%2C0%2C0%2C1-11.08-1.1c-.85-.3-1.19%2C0-1.53.73Q366%2C141.43%2C358.1%2C158.68c-.51%2C1.11.17%2C1.36.76%2C1.87a11%2C11%2C0%2C0%2C1%2C3.74%2C11.65%2C10.38%2C10.38%2C0%2C0%2C1-8.36%2C8.08c-4.51.91-8.65-.2-11.53-4.11a11.07%2C11.07%2C0%2C0%2C1-1-12.21l.46-.91c3.08-4%2C7.06-5.7%2C12.07-4.73.61.12.94%2C0%2C1.18-.55%2C1.65-3.91%2C3.7-7.64%2C5.14-11.64q5.43-11.69%2C10.85-23.38c.3-.66.19-1.08-.55-1.26L367.41%2C119a25.84%2C25.84%2C0%2C0%2C1-7-9.93l-.9-2.65c-.33-3.3-.33-3.32-3.52-3.07-8.56.65-17.11%2C1.35-25.67%2C2-1%2C.07-1.14.56-1.37%2C1.32a5.35%2C5.35%2C0%2C0%2C1-6%2C3.86%2C5.44%2C5.44%2C0%2C0%2C1-.55-10.66%2C5.25%2C5.25%2C0%2C0%2C1%2C6.31%2C3%2C1.41%2C1.41%2C0%2C0%2C0%2C1.77%2C1c2.43-.24%2C4.87-.41%2C7.31-.6%2C6.46-.49%2C12.92-1%2C19.38-1.44%2C1.29-.09%2C1.81-.47%2C1.8-1.91a22.43%2C22.43%2C0%2C0%2C1%2C1.53-8%2C2.61%2C2.61%2C0%2C0%2C0%2C.46-1.46l.49-.84.6-1c.52-.85%2C1.48-1.71%2C1.46-2.54%2C0-1-1.59-1.15-2.23-2-.06-.18-.1-.38-.38-.32l0%2C0c-.06-.15-.09-.34-.2-.43L341.07%2C66.73c-3.65-3.14-7.3-6.26-10.93-9.42a1%2C1%2C0%2C0%2C0-1.48-.11%2C12.78%2C12.78%2C0%2C0%2C1-7.92%2C2c-.44-.11-.88-.23-1.32-.32a12.1%2C12.1%2C0%2C0%2C1-9.2-14.21c1.18-5.23%2C4.45-8.57%2C9.71-9.53A11.38%2C11.38%2C0%2C0%2C1%2C332%2C40c3%2C4.33%2C3.07%2C8.94.32%2C13.45-.66%2C1.08-.55%2C1.57.36%2C2.32%2C3.1%2C2.55%2C6.14%2C5.17%2C9.2%2C7.77l22.74%2C19.34c.51.43.91%2C1%2C1.67.24a27.1%2C27.1%2C0%2C0%2C1%2C9.33-5.78c.48-.06%2C1%2C0%2C1.39-.4a28.54%2C28.54%2C0%2C0%2C1%2C11.48-.09l1.36.37c1.16.61%2C1.81.39%2C2.42-.93q5.94-12.8%2C12.09-25.51c.51-1.06.37-1.57-.56-2.33a14.33%2C14.33%2C0%2C0%2C1-.2-21.71c1.83-1.59%2C4.07-2.33%2C6.14-3.43h5.81c2.11.77%2C4.28%2C1.39%2C6.08%2C2.84a14.26%2C14.26%2C0%2C0%2C1%2C5.63%2C11.18A12%2C12%2C0%2C0%2C0%2C421.68%2C49a14.27%2C14.27%2C0%2C0%2C1-11.43%2C2.57c-1.2-.25-1.57.1-2%2C1-3.68%2C7.85-7.41%2C15.68-11.11%2C23.52-1.64%2C3.48-1.62%2C3.49%2C1.56%2C5.75l2.14%2C1.93a27.55%2C27.55%2C0%2C0%2C1%2C4.76%2C7.62c.43%2C1.18%2C1.13.66%2C1.75.46q10-3.24%2C20.08-6.53c3.67-1.2%2C7.33-2.42%2C11-3.57a1.68%2C1.68%2C0%2C0%2C0%2C1.37-1.6%2C4%2C4%2C0%2C0%2C1%2C3.84-3.67A4.25%2C4.25%2C0%2C0%2C1%2C448%2C79.35a4.31%2C4.31%2C0%2C0%2C1-1.83%2C5.05%2C4.14%2C4.14%2C0%2C0%2C1-5.28-.77%2C1.67%2C1.67%2C0%2C0%2C0-2.06-.47q-15.45%2C5.07-30.93%2C10.08c-1.07.34-1.59.64-1.19%2C1.94a23.07%2C23.07%2C0%2C0%2C1%2C.64%2C7.44A2.43%2C2.43%2C0%2C0%2C0%2C407.11%2C104.07Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M302.17%2C121c.5-.29.5-.86.71-1.3a8.22%2C8.22%2C0%2C0%2C1%2C14-1.46%2C1.76%2C1.76%2C0%2C0%2C0%2C2.36.75q20.14-6.35%2C40.31-12.61l.9%2C2.65-30.37%2C9.55q-5.12%2C1.61-10.25%2C3.16c-.84.25-1.28.55-1.3%2C1.6a8%2C8%2C0%2C0%2C1-6.43%2C7.94%2C8.21%2C8.21%2C0%2C0%2C1-9.35-4.84c-.16-.34-.13-.81-.58-1Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M407.11%2C104.07a2.43%2C2.43%2C0%2C0%2C1%2C.24-1.45c12.82%2C1.41%2C25.65%2C2.8%2C38.46%2C4.28%2C1.22.14%2C1.25-.6%2C1.6-1.25a6.14%2C6.14%2C0%2C0%2C1%2C6.83-3%2C6.26%2C6.26%2C0%2C0%2C1%2C4.64%2C5.68%2C6.19%2C6.19%2C0%2C0%2C1-4%2C6%2C6%2C6%2C0%2C0%2C1-8.06-4.57c-.2-1.06-.55-1.33-1.56-1.44Q426.17%2C106.22%2C407.11%2C104.07Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M386.51%2C124.52l1.47-.15%2C5.37%2C31c.45%2C2.63%2C1%2C5.25%2C1.33%2C7.89.14%2C1%2C.48%2C1.29%2C1.45%2C1.47a4.66%2C4.66%2C0%2C0%2C1%2C3.72%2C4.83%2C4.91%2C4.91%2C0%2C0%2C1-4%2C4.63%2C4.84%2C4.84%2C0%2C0%2C1-5.25-2.9%2C4.66%2C4.66%2C0%2C0%2C1%2C1.88-6%2C1.6%2C1.6%2C0%2C0%2C0%2C.81-1.93Q389.85%2C144%2C386.51%2C124.52Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M375.64%2C77.35q-5.13-17.58-10.25-35.17c-.28-1-.55-1.49-1.76-1.53a5.64%2C5.64%2C0%2C0%2C1-5.%0A47-5.12%2C5.9%2C5.9%2C0%2C0%2C1%2C4-6.37%2C6%2C6%2C0%2C0%2C1%2C7.09%2C3%2C5.74%2C5.74%2C0%2C0%2C1-1.86%2C7.42c-1%2C.69-.9%2C1.31-.63%2C2.22Q371.93%2C59.36%2C377%2C77C376.64%2C77.35%2C376.12%2C77.29%2C375.64%2C77.35Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M361.28%2C84.09c-.25%2C0-.47%2C0-.38-.32C361.18%2C83.71%2C361.22%2C83.91%2C361.28%2C84.09Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M317.67%2C72l.1.37-.36-.12Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M442.42%2C127.08a5.18%2C5.18%2C0%2C0%2C1-4.28-1.57C439.74%2C125.58%2C441%2C126.5%2C442.42%2C127.08Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Ccircle%20class%3D%22cls-2%22%20cx%3D%22345.94%22%20cy%3D%2278.48%22%20r%3D%2243.73%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M358%2C73.69h14.9V95.5l18.51-21.81H409.1L388.76%2C96.8l21%2C30.64H391.9l-13.51-20-5.45%2C6.07v13.9H358Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Ccircle%20class%3D%22cls-4%22%20cx%3D%22285.32%22%20cy%3D%2223.94%22%20r%3D%2211.72%22%2F%3E%3Ccircle%20class%3D%22cls-4%22%20cx%3D%22376.15%22%20cy%3D%2215.9%22%20r%3D%2214.95%22%2F%3E%3Ccircle%20class%3D%22cls-4%22%20cx%3D%22315.44%22%20cy%3D%22146.49%22%20r%3D%2211.72%22%2F%3E%3Ccircle%20class%3D%22cls-5%22%20cx%3D%22412.72%22%20cy%3D%22126.15%22%20r%3D%2215.53%22%2F%3E%3Ccircle%20class%3D%22cls-6%22%20cx%3D%22274.18%22%20cy%3D%22100.95%22%20r%3D%227.86%22%2F%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%22270.28%22%20cy%3D%2246.69%22%20r%3D%224.36%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M57.65%2C127.71a29.62%2C29.62%2C0%2C0%2C1-11.45-2.12%2C35.19%2C35.19%2C0%2C0%2C1-9.86-6.35l2.57-2.95a37.36%2C37.36%2C0%2C0%2C0%2C4.34%2C3.51%2C24.5%2C24.5%2C0%2C0%2C0%2C4.42%2C2.42%2C24.76%2C24.76%2C0%2C0%2C0%2C4.76%2C1.44%2C28.11%2C28.11%2C0%2C0%2C0%2C5.44.49%2C17.84%2C17.84%2C0%2C0%2C0%2C5.44-.79%2C12.91%2C12.91%2C0%2C0%2C0%2C4.23-2.19%2C10.15%2C10.15%2C0%2C0%2C0%2C2.72-3.32%2C9.11%2C9.11%2C0%2C0%2C0%2C1-4.19v-.15a10.43%2C10.43%2C0%2C0%2C0-.64-3.78%2C7.28%2C7.28%2C0%2C0%2C0-2.34-3%2C17.06%2C17.06%2C0%2C0%2C0-4.57-2.46%2C47.44%2C47.44%2C0%2C0%2C0-7.4-2%2C51.22%2C51.22%2C0%2C0%2C1-8.16-2.3%2C20.17%2C20.17%2C0%2C0%2C1-5.55-3.1%2C10.64%2C10.64%2C0%2C0%2C1-3.14-4.12%2C13.76%2C13.76%2C0%2C0%2C1-1-5.36v-.15a11.91%2C11.91%2C0%2C0%2C1%2C1.28-5.48%2C13.89%2C13.89%2C0%2C0%2C1%2C3.55-4.42%2C16.74%2C16.74%2C0%2C0%2C1%2C5.36-2.95%2C20.93%2C20.93%2C0%2C0%2C1%2C6.8-1.06A28.06%2C28.06%2C0%2C0%2C1%2C65.4%2C74.9a29.84%2C29.84%2C0%2C0%2C1%2C8.2%2C4.83l-2.49%2C3.1a24.31%2C24.31%2C0%2C0%2C0-7.59-4.61%2C24.25%2C24.25%2C0%2C0%2C0-8.2-1.36%2C16.77%2C16.77%2C0%2C0%2C0-5.33.79%2C13.08%2C13.08%2C0%2C0%2C0-4.08%2C2.15A9.46%2C9.46%2C0%2C0%2C0%2C43.3%2C83a8.5%2C8.5%2C0%2C0%2C0-.91%2C3.85V87A10.71%2C10.71%2C0%2C0%2C0%2C43%2C90.8a7.46%2C7.46%2C0%2C0%2C0%2C2.34%2C3.1%2C16.68%2C16.68%2C0%2C0%2C0%2C4.72%2C2.53%2C54.08%2C54.08%2C0%2C0%2C0%2C7.71%2C2.12q9.22%2C1.89%2C13.3%2C5.33a11.48%2C11.48%2C0%2C0%2C1%2C4.08%2C9.25v.15a13.06%2C13.06%2C0%2C0%2C1-1.32%2C5.86%2C13.63%2C13.63%2C0%2C0%2C1-3.63%2C4.57%2C17%2C17%2C0%2C0%2C1-5.51%2C2.95A22.5%2C22.5%2C0%2C0%2C1%2C57.65%2C127.71Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M112.27%2C127.86A25.72%2C25.72%2C0%2C0%2C1%2C93%2C119.66%2C26.56%2C26.56%2C0%2C0%2C1%2C87.65%2C111a28.57%2C28.57%2C0%2C0%2C1-1.89-10.35v-.15a28.38%2C28.38%2C0%2C0%2C1%2C1.93-10.39%2C27.49%2C27.49%2C0%2C0%2C1%2C5.4-8.73%2C25.65%2C25.65%2C0%2C0%2C1%2C8.39-6%2C27.85%2C27.85%2C0%2C0%2C1%2C21.83%2C0%2C25.94%2C25.94%2C0%2C0%2C1%2C8.39%2C6A26.62%2C26.62%2C0%2C0%2C1%2C137.05%2C90a28.61%2C28.61%2C0%2C0%2C1%2C1.89%2C10.35.1.1%2C0%2C0%2C1%2C0%2C.15A28.38%2C28.38%2C0%2C0%2C1%2C137%2C110.9a27.5%2C27.5%2C0%2C0%2C1-5.4%2C8.73%2C25.55%2C25.55%2C0%2C0%2C1-8.42%2C6A26.29%2C26.29%2C0%2C0%2C1%2C112.27%2C127.86Zm.15-3.55a21.66%2C21.66%2C0%2C0%2C0%2C16.13-6.91%2C23.18%2C23.18%2C0%2C0%2C0%2C4.65-7.52%2C25.39%2C25.39%2C0%2C0%2C0%2C1.66-9.22v-.15a25.17%2C25.17%2C0%2C0%2C0-1.7-9.25%2C23.61%2C23.61%2C0%2C0%2C0-4.68-7.55%2C22.15%2C22.15%2C0%2C0%2C0-7.14-5.1%2C22.06%2C22.06%2C0%2C0%2C0-25.2%2C5%2C23.14%2C23.14%2C0%2C0%2C0-4.65%2C7.52%2C25.37%2C25.37%2C0%2C0%2C0-1.66%2C9.22v.15a25.15%2C25.15%2C0%2C0%2C0%2C1.7%2C9.25%2C23.56%2C23.56%2C0%2C0%2C0%2C4.68%2C7.55%2C22.09%2C22.09%2C0%2C0%2C0%2C7.14%2C5.1A21.63%2C21.63%2C0%2C0%2C0%2C112.42%2C124.31Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M152.31%2C74.07H156l36.49%2C46v-46h3.78V127h-2.95L156.09%2C80v47h-3.78Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M232.09%2C73.69h3.78L260.5%2C127h-4.31l-6.72-14.81h-31.2L211.54%2C127h-4.08Zm15.71%2C34.9L233.91%2C78l-14%2C30.6Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M271.68%2C74.07h22.21a25%2C25%2C0%2C0%2C1%2C8.69%2C1.4%2C16.94%2C16.94%2C0%2C0%2C1%2C6.2%2C3.82%2C13.65%2C13.65%2C0%2C0%2C1%2C2.95%2C4.42%2C13.89%2C13.89%2C0%2C0%2C1%2C1.06%2C5.4v.15a14.33%2C14.33%2C0%2C0%2C1-1.17%2C5.93%2C13.46%2C13.46%2C0%2C0%2C1-3.25%2C4.5%2C16.7%2C16.7%2C0%2C0%2C1-4.91%2C3.06%2C24.81%2C24.81%2C0%2C0%2C1-6.16%2C1.63L314.74%2C127h-5L292.91%2C105h-17.3V127h-3.93Zm21.76%2C27.42a21.7%2C21.7%2C0%2C0%2C0%2C6.16-.83%2C14.85%2C14.85%2C0%2C0%2C0%2C4.87-2.39%2C11.31%2C11.31%2C0%2C0%2C0%2C3.21-3.79%2C10.87%2C10.87%2C0%2C0%2C0%2C1.17-5.12v-.15a10.2%2C10.2%2C0%2C0%2C0-4-8.49q-4-3.11-11.22-3.11H275.61v23.87Z%22%20transform%3D%22translate(-36.35%20-22.37)%22%2F%3E%3Ccircle%20class%3D%22cls-7%22%20cx%3D%22406.12%22%20cy%3D%2299.01%22%20r%3D%226.13%22%2F%3E%3Ccircle%20class%3D%22cls-7%22%20cx%3D%22355.12%22%20cy%3D%2224.49%22%20r%3D%226.13%22%2F%3E%3Cline%20class%3D%22cls-%0A8%22%20x1%3D%22354.12%22%20y1%3D%2230.62%22%20x2%3D%22352.7%22%20y2%3D%2235.66%22%2F%3E%3Cline%20class%3D%22cls-9%22%20x1%3D%22274.64%22%20y1%3D%2248.29%22%20x2%3D%22305.68%22%20y2%3D%2261.39%22%2F%3E%3Cline%20class%3D%22cls-10%22%20x1%3D%22399.25%22%20y1%3D%22118.41%22%20x2%3D%22380.59%22%20y2%3D%22105.14%22%2F%3E%3C%2Fsvg%3E");
      }

    block head
  body(kbn-chrome, id='#{appName}-body')
    kbn-initial-state(data=JSON.stringify(kibanaPayload))
    block content
